{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css">
        .post {
            width: 80%;
            margin-left: 10%;
        }
        .post > h5 {
            margin-top: 20px;
        }
        .dates {
            display: flex;
            justify-content: space-between;
        }
        .comments {
            margin-top: 30px;
        }
        .comment_block {
            height: max-content;
            padding: 10px;
            border: 1px solid black;
            color: black;
            background: #fff;
            border-radius: 3px;
            margin-top: 100px;
            width: 1220px;
            margin-bottom: 20px
        }
        .post img{
            width: 450px;
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 2px;
            background: black;
            border-radius: 10px;
            border: 1spx solid black
        }
        .price{
            color: green
        }
    </style>
 <div class="post">
     {% if post.image %}
        <img src="/media/{{ post.image }}" alt="Not found">
     {% else %}
        <img src="/media/placeholder.png" alt="">
     {% endif %}
        <h1>{{ post.title }}</h1>
        <div class="dates">
            <h5>Created: {{ post.creation_date }}</h5>
            <h5>Updated: {{ post.update_date }}</h5>
        </div>
        <h1 class="price">{{post.price}}$</h1>
        <h5>{{ post.description }}</h5>

        <div class="comments">
            {% for review in reviews %}
                <div class="comment_block">
                    <p>{{ review.creation_date }}</p>
                    <h5>{{ review.text }}</h5>

                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
