{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css">
        .post {
            width: 80%;
            margin-left: 10%;
        }
        .post > h5 {
            margin-top: 20px;
        }
        .dates {
            display: flex;
            justify-content: space-between;
        }
        .comments {
            margin-top: 10px;
        }
        .comment_block {
            height: max-content;
            padding: 10px;
            border: 1px solid black;
            color: black;
            background: #fff;
            border-radius: 3px;
            margin-top: 20px;
            width: 1220px;
            margin-bottom: 20px
        }
        .post img{
            width: 650px;
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 2px;
            background: black;
            border-radius: 10px;
            border: 1spx solid black
        }
        .price{
            color: green
        }
        .desc {
            margin-bottom: 150px
        }
    </style>
 <div class="post">
     {% if post.image %}
        <img src="/media/{{ post.image }}" alt="Not found">
     {% else %}
        <img src="/media/placeholder.png" alt="">
     {% endif %}
     <div style="display:flex; justify-content: space-between">
         <h1>{{ post.title }}</h1>
         <h1>{{ post.author.username }}</h1>
     </div>

        <div class="dates">
            <h5>Created: {{ post.creation_date }}</h5>
            <h5>Updated: {{ post.update_date }}</h5>
        </div>
        <h1 class="price">{{post.price}}$</h1>
        <h5 class="desc">{{ post.description }}</h5>
        {% if post.commentable %}
             <form action="/posts/{{post.id}}/" method="post">
                 {% csrf_token %}
                 {{ comment_form }}
                 <button type="submit" class="btn btn-primary">Оставить отзыв</button>
             </form>
        {% endif %}
        <div class="comments">
            {% for review in reviews %}
                <div class="comment_block">
                    <h4>{{ review.author.username }}</h4>
                    <p>{{ review.creation_date }}</p>
                    <h5>{{ review.text }}</h5>

                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
